<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i>Admin App</h1>
	<p>This is my Admin app, made with Ruby on Rails</p>
  <%= link_to 'Regístrate', new_user_registration_path, class: ' btn btn-primary btn-lg' %>

</div>
