<div class="row">

	<div class="col-md-4">
		<h1 class="text-center">To do</h1>
			<div class="panel panel-info">
				<div class="panel-heading">Titulo test</div>
				<div class="panel-body">test</div>
				<div class="panel-footer text-center">test</div>
			</div>
	</div>

	<div class="col-md-4">
		<h1 class="text-center">Titulo test</h1>
			<div class="panel panel-info">
				<div class="panel-heading">test</div>
				<div class="panel-body">test</div>
				<div class="panel-footer text-center">change state</div>
			</div>
	</div>

	<div class="col-md-4">
		<h1 class="text-center">Titulo test</h1>
			<div class="panel panel-info">
				<div class="panel-heading">Done</div>
				<div class="panel-body">test</div>
				<div class="panel-footer text-center">change state</div>
			</div>

	</div>

</div>
